
    <!-- Footer -->
    <footer class="py-5 bg-white">
      <div class="container text-center">
        <p class="m-0 text-center text-inherit">Copyright &copy; Jane's Grooming {{ now.Year }}</p>
        <img src="img/footer.png">
      </div><!-- /.container -->

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
      
      <script>
        jQuery( document ).ready( function () {
          jQuery('#slideCarousel').on('slide.bs.carousel', function () {
            console.log('slide');
          });
        });

        jQuery('#slideCarousel').bind('slide.bs.carousel', function (e) {
    console.log('slide event!');
});

jQuery('#slideCarousel').bind('slid', function (e) {
    console.log("slid event!");
});
      </script>
  
    </footer>
